<div class="row" style="width: 100%; height: 100%; margin-top: 50px;margin-left: 150px"> 
    <div class="col-lg-5 mx-auto" style="display: flex;align-items: center;">
        <div class=" px-md-5 px-4">
            <h3 class="modal-title mt-4 mb-0 text-center mb-5">Iniciar Sesión</h3>
                <p class="font-size-sm text-muted text-center">Inicie sesión en su cuenta utilizando el correo electrónico y la contraseña proporcionados durante el registro.</p>
                    <form class="needs-validation" novalidate="">
                        <div class="form-group">
                            <label for="signin-email">Email</label>
                            <input type="email" class="form-control" id="signin-email" placeholder="Tu mail" required="">
                        </div>
                        <div class="form-group">
                            <label for="signin-password" class="form-label">Contraseña</label>
                                <div class="cs-password-toggle input-group-overlay">
                                    <input type="password" class="form-control appended-form-control" id="signin-password" placeholder="Tu contraseña" required="">
                                        <div class="input-group-append-overlay">
                                                
                                        </div>
                                </div>
                        </div>
                <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
            </form>
        </div>
    </div>
</div>